* {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.app-store-logo {
  width: 100px;
  height: 100px;
}
.app-link {
  margin-top: 200px;
}
.left-panel {
  border-right: 1px solid lightgray;
  text-align: left;
  padding: 20px 40px;
}
.home {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}
.left-panel-fs {
  font-size: 18px;
  font-weight: lighter;
}

.mid-panel {
  padding: 20px;
  text-align: center;
}
.sidepanel {
  padding: 20px 60px;
}
.logo {
  width: 100px;
  height: 100px;
  margin-bottom: 40px;
}
.story-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.user-id {
  margin-top: 4px;
}

.logo-img {
  width: 100px;
  height: 100px;
}
.feeds {
  padding: 20px;
  width: 470px;
}
.feed {
  border-radius: 14px;
  padding: 10px;
}

.user-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid red;
}
.user {
  display: flex;
  gap: 20px;
  align-items: center;
}
.name {
  margin: 0;
}
.id {
  margin: 0;
}
.post {
  margin-top: 8px;
}
.post-img {
  width: 100%;
  border-left: 2px solid black;
}
.icons {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}
.caption {
  margin-top: 10px;
}
.text {
  margin-top: 0;
  text-align: start;
}
.user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
